html
    head
        
    body
        p= message
        if fileList.length>0
            each val in fileList
                div(width="150px", height="150px")
                    img(src=val)
        else
            p= 'No new images'

        br
        a(href="/welcome")= 'Back'